
/*Login and Search page*/
body {
    background: linear-gradient(rgb(49, 96, 176),white) no-repeat center center fixed;
    text-align: center;
    background-size: cover;
}

/*Login page*/
#signup-link {
    position: absolute;
    top: 5px;
    right: 50px;    
    font-family: Calibri;
    font-size: 20px;
    color: black;    
    text-decoration: none;
}


#user-icon {
    z-index: +1;
    position: absolute;
    top: 353px;
    right: 380px;
}

#password-icon {
    z-index: +1;
    position: absolute;
    top: 402px;
    right: 380px;
}

#login-btn {
    margin-left: 340px;
    width: 100px;
    height: 30px;
    margin-top: 10px;
}

/*Login popup window*/
.modal-header {
    text-align: left;
    font-size: 20px;
}

#form {
    text-align: left;
    padding-left: 10px;
}

#avatar-block {
    padding-left: 180px;
    text-align: left;
    margin-bottom: 10px;
}

#outImg {
    max-width: 100px;
}

#inImg {
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 12px;
}


.form-label {
    font-weight: bold;
}

.form-control {
    display: inline;
    width: 45%;
}

#UName-error, #UEmail-error, #UPassword-error, #CfUPassword-error {
    margin-left: 180px;
}
