body {
}

.searchContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.resultBlock {
    
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 400px;
    height: 600px;
    align-content: center;
    border: 1px solid black;
    margin: 20px;
}

.productTag {

    font-weight:900;

}